.sudokuGrid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  width: 90vw; 
  height: 90vw;
  max-width: 405px;
  max-height: 405px;
  background-color: #444; 
  border: 3px solid var(--neon-mint);
  box-shadow: var(--glow);
  margin: 10px auto; 
}

/* Товсті лінії для блоків 3х3 */
.sudokuGrid > div:nth-child(3n) { 
  border-right: 2px solid var(--neon-mint); 
}

.sudokuGrid > div:nth-child(9n) { 
  border-right: none; 
}

.sudokuGrid > div:nth-of-type(n + 19):nth-of-type(-n + 27),
.sudokuGrid > div:nth-of-type(n + 46):nth-of-type(-n + 54) {
  border-bottom: 2px solid var(--neon-mint);
}

@media (min-width: 768px) {
  .sudokuGrid {
    grid-template-columns: repeat(9, 45px); 
    width: 406px;
    height: 406px;
  }
}