.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.modal {
  background: #0d0d0d;
  border: 2px solid #00f2ff;
  box-shadow:
    0 0 20px #00f2ff,
    inset 0 0 10px #00f2ff;
  border-radius: 20px;
  padding: 30px;
  width: 300px;
  text-align: center;
  color: #fff;
}

.title {
  color: #ff00e0;
  text-shadow: 0 0 10px #ff00e0;
  margin-bottom: 25px;
}

.statMain {
  font-size: 1.2rem;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.value {
  color: #00f2ff;
  font-weight: bold;
}

.bestTimes h3 {
  font-size: 1rem;
  color: #7000ff;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.timeRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.timeValue {
  color: #00f2ff;
}

.closeBtn {
  margin-top: 25px;
  background: transparent;
  border: 1px solid #ff00e0;
  color: #ff00e0;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.closeBtn:hover {
  background: #ff00e0;
  color: #fff;
  box-shadow: 0 0 15px #ff00e0;
}
